@import url(//fonts.googleapis.com/css?family=Lobster:400);
body{
  background-color: white;
  color: white;
  font-family: lobster;
}
.block1{
  padding: 50px;
  widht: 50%;
  margin-right:200px;
  margin-left:200px;
  border-radius: 50%;
  margin-top: 100px;
  
}
.btn-default{
  background-color: black;
  border-color: black;
  color: white;
}
h1 {
  font-size: 5.0em;
  padding:0;
  margin-top: 0;
  text-align: center;
  color: white;
 
  }
h1 span {
  color: white;
  font-family: times;
}

.pageOne {
background: url("https://i.imgsafe.org/03483cdbc0.jpg");
background-size: cover;
padding-bottom: 10%;
}
.nav-pills{
  font-family: 'Lobster', Arial;
  background-color: black;
  font-size: 1.8em;
  margin-bottom: 10%;
}
.pageTwo{
  background: url("https://i.imgsafe.org/4264748617.jpg");
  padding-top: 3%;
}
h2 span{
  font-family: arial;
  font-size: 50px;
  color: white;
}
p{
  font-family: arial;
  font-size: 2.0em;
  color: #FFF;
}
.myImage{
  height:400px;
  border-radius: 60%;
}
.resume{
  font-family: "Times New Roman", Times;
  background-color: #A9A1A9;
  margin-top: 150px;
  font-size: 600px;
  color: white;
}
.page3{
  background-color: black;
}
.custom{
  color:black;
  font-family: times;
  
}
